/* 
    General Styles
*/
body {
    margin: 0;
    Font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #121212 !important;

    padding:0;
    height:100%;
    
  }
  
#app{
  height: 100vh !important;
  display: flex !important;
  flex-direction: column !important;
}
  .footer{
    margin-top: auto;
} 
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
